
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .image {
    -webkit-mask-image: url('https://w7.pngwing.com/pngs/172/461/png-transparent-circle-point-font-circle-orange-area-circle-thumbnail.png'); /* Adjust the path if needed */
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
     height: 100%;
    
  }

  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
  }

  .perspective {
    perspective: 2200px;
  }

  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}
}